*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9,#90bafc);
    color: white;
    padding: 10px;
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.calculator h1{
    font-size: 60px;

}

span{
    color: #ffff76;
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
}

.input-box input {
    flex: 1;
    padding: 14px;
    font-size: 16px; /* Avoid zooming */
    width: 100%; /* Responsive */
    max-width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-right: 20px;

}

.input-box input::-webkit-calendar-picker-indicator {
    background-size: auto; /* Default size */
    cursor: pointer;
}
.input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}



#result{
    font-size: 20px;

}

span{
    color: #f0f024;
}


@media(max-width:705px){
    .calculator h1{
        font-size: 70px;
    
    }
    .calculator{
        
        max-width: 500px;
    
    }
   
    
    .input-box input{
        padding: 10px 30px;
       
        font-size: 20px;

        
    }
    .input-box input::-webkit-calendar-picker-indicator{
        
       
        background-size: 30px;
        
        
    }
    
    .input-box button{
        
        padding: 15px 30px;
       
    }
    
}

@media(max-width:580px){
    .calculator h1{
        font-size: 60px;
    
    }
    .calculator{
        
        max-width: 400px;
        
    }
    .input-box{
        padding: 20px;
        
    }
    
    .input-box input{
        padding: 15px 30px;
       
        font-size: 20px;

        
    }
    .input-box input::-webkit-calendar-picker-indicator{
        
       
        background-size: 30px;
        
        
    }
    
    .input-box button{
        
        padding: 15px 30px;
       
    }
    
}
@media(max-width:450px){
    .calculator h1{
        font-size: 35px;
    
    }
    .calculator{
        
        max-width: 300px;
        margin-left: 10%;
        margin-top: 10%;
    }
    .input-box{
        padding: 30px;
        
    }
    
    .input-box input{
        padding: 10px 30px;
       
        font-size: 10px;

        
    }
    .input-box input::-webkit-calendar-picker-indicator{
        
        right: -10px;
       
        background-size: 20px;
        
        
    }
    
    .input-box button{
        
        padding: 10px 20px;
       
    }
    
}

@media(max-width:375px){
    .calculator h1{
        font-size: 40px;
    
    }
    .calculator{
        
        max-width: 300px;
        margin-left: 10%;
        margin-top: 10%;
    }
    .input-box{
        padding: 30px;
        
    }
    
    .input-box input{
        padding: 10px 30px;
       
        font-size: 10px;

        
    }
    .input-box input::-webkit-calendar-picker-indicator{
        
        right: -10px;
       
        background-size: 20px;
        
        
    }
    
    .input-box button{
        
        padding: 10px 20px;
       
    }
    
}